.footer {
	padding: 0 120rem 100rem 120rem;
	@include desktop-small{
		padding: 0 24rem 50rem 24rem;
	}
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include tablet{
			flex-direction: column;
		}
	}
	&__links{
		display: flex;
		justify-content: space-between;
		gap: 40rem;
		@include tablet{
			margin-bottom: 40rem;
		}
		@include mobile{
			flex-direction: column;
		}
	}
	&__link{
		font-family: var(--ff);
		font-weight: 400;
		font-size: 18rem;
		text-align: center;
		color: var(--links-color);
		&.is-active, &:hover {
			color: var(--hover-color);
		}
	}
	&__ending{
		font-weight: 400;
		font-size: 16rem;
		line-height: 237%;
		letter-spacing: -0.03em;
		color: var(--links-color);
		@include tablet{
			font-size: 18rem;
			line-height: 156%;
			color: var(--c-text-white);
		}
	}
	&__logo{
		@include tablet{
			margin-bottom: 40rem;
		}
	}
}
