.portfolio {
}
.portfolio-list {
	margin-top: 70rem;
}
.portfolio-item {
	padding: 24rem;
	display: inline-flex;
	border-radius: 14rem;
	background: var(--portfolio-item);
	img {
		border-radius: 12rem;
	}
}
