.welcome{
    display: flex;
    justify-content: center;
    &__circle{
        position: absolute;
        top: 75rem;
        right: 80rem;
        @include desktop-small{
            top: 60rem;
            right: 30rem;
        }
        @include tablet{
            display: none;
        }
    }
    &__circle-m{
        display: none;
        @include tablet{
            display: flex;
            position: absolute;
            top: 325rem;
            right: 70rem;
        }
        @include mobile{
            top: 475rem;
            right: 40rem;
        }

    }
    &__line{
        position: absolute;
        top: 115rem;
        right: 620rem;
        @include desktop-small{
            top: 130rem;
            right: 340rem;
        }
        @include desktop-xs{
            //top: 150rem;
            right: 300rem;
        }
        @include tablet{
            display: none;
        }
    }
    &__line-m{
        display: none;
        @include tablet{
            display: flex;
            position: absolute;
            top: 390rem;
            left: 50rem;
        }
        @include mobile{
            top: 495rem;
            left: 20rem;
        }

    }
    &__triangle{
        position: absolute;
        top: 555rem;
        left: 450rem;
        //@include desktop-m{
        //    top: 450rem;
        //}
        @include desktop-small{
            top: 350rem;
        }
        @include tablet{
            display: none;
        }
    }
    &__triangle-m{
        display: none;
        @include tablet{
            display: flex;
            position: absolute;
            top: 900rem;
            left: -10rem;
        }
        @include tablet-small{
            top: 800rem;
        }
    }
    &__plus{
        position: absolute;
        top: 605rem;
        right: 70rem;
        //@include desktop-m{
        //    top: 500rem;
        //}
        @include desktop-small{
            top: 400rem;
            right: 30rem;
        }
        @include tablet{
            display: none;
        }
    }
    &__plus-m{
        display: none;
        @include tablet{
            display: flex;
            position: absolute;
            top: 900rem;
            right: -0;
        }
        @include tablet-small{
            top: 800rem;
        }
    }
    &__blur-1{
        background-size: cover;
        flex-wrap: wrap;
        position: absolute;
        width: 467rem;
        height: 1234rem;
        border-radius: 233rem;
        filter: blur(300px);
        background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.27) 100%);
        transform: rotate(-54deg);
        left: -50rem;
        top: -260rem;
        @include tablet{
            width: 352rem;
            height: 887rem;
            top: -160rem;
        }
        @include mobile{
            width: 252rem;
            height: 667rem;
            left: -140rem;
            top: -200rem;
        }
    }
    &__container{
        overflow: hidden;
        position: relative;
        padding-bottom: 150rem;
        margin: 0 35rem 0 120rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet{
            padding-bottom: 140rem;
            margin: 26rem 24rem 0 24rem;
            flex-direction: column;
        }
    }
    &__right{
        max-width: 582rem;
    }
    &__title{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 80rem;
        line-height: 105%;
        color: var(--c-text-white);
        margin-bottom: 24rem;
        @include desktop-small{
            font-size: 50rem;
        }
        @include tablet{
            font-size: 42rem;
        }
    }
    &__desc{
        font-family: var(--ff);
        font-weight: 400;
        font-size: 21rem;
        line-height: 186%;
        letter-spacing: -0.03em;
        color: var(--links-color);
        margin-bottom: 50rem;
        @include desktop-small{
            font-size: 17rem;
        }
        @include tablet{
            font-size: 16rem;
        }
    }
    &__link-button{
        font-family: var(--ff);
        font-weight: 700;
        font-size: 20rem;
        color: var(--c-text-white);
        border-radius: 4rem;
        background: var(--hover-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 204rem;
        padding: 16rem 27rem 15rem 27rem;
        @include mobile{
            max-width: 166rem;
            padding: 12rem 21rem;
            font-weight: 700;
            font-size: 16rem;
            margin-bottom: 70rem;
        }
    }
}